<div>
  <h3>Twój koszyk </h3><br>

  <li *ngFor="let pizza of getPizzasInBasket()">
    <span class="badge">{{pizza.id}}</span>
    <span>{{pizza.name}} {{pizza.price}}</span>

    <br>
    <span class="description">{{pizza.description}}
      <button>X</button>
    </span>
  </li>

  <li *ngFor="let pasta of getPastasInBasket()" >
    <span class="badge">{{pasta.id}}</span>
    <span>{{pasta.name}} {{pasta.price}}</span>

    <br>
    <span class="description">{{pasta.description}}
     <button>X</button>
    </span>
  </li>
</div>
