
<h2>Zamówienie nr: {{order.id}}</h2>

<table id="order-details">
<thead>
<th>#</th>
<th>Nazwa dania</th>
<th>Składniki</th>
<th>Cena</th>
</thead>
<tr *ngFor="let pizza of getPizzasFromOrder(order)">
  <td>{{pizza.name}}</td>
  <td>{{pizza.description}}</td>
  <td>{{pizza.price}}</td>
  <!--<td>{{order.id}}</td>-->
  <!--<td>{{order.pizzaIds.getPizza()}}</td>-->
  <!--<td>{{order.pizzaIds.getDetails}}</td>-->
  <!--<td>{{order.pizzaIds.getPrice}}</td>-->
<!--</tr>-->
</table>

<h4>Cena zamówienia: </h4>
<h4>Aktualny stan zamówienia: {{order.status}}</h4>
<h4>Zmień stan zamówienia</h4>




<!--export class Order {-->
<!--id: number;-->
<!--pizzaIds: number[];-->
<!--pastaIds: number[];-->
<!--drinkIds: number[];-->
<!--status: Status;-->
<!--adress: Adress;-->
<!--}-->
